<!DOCTYPE html>
<html lang="pt-br">
    
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
</body>
<main>
    <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi sou Gabriel e estou estudando JavaScript na rocketseat. </p>
    </div>
</main>
<%- include('../partials/footer'); %>
</html>